.sprite {
    background-image: url(socials.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-fb {
    width: 15px;
    height: 27px;
    background-position: -5px -5px;
}

.sprite-fb-hover {
    width: 15px;
    height: 27px;
    background-position: -30px -5px;
}

.sprite-like {
    width: 26px;
    height: 32px;
    background-position: -55px -5px;
}

.sprite-like-hover {
    width: 26px;
    height: 32px;
    background-position: -5px -47px;
}

.sprite-tw {
    width: 28px;
    height: 22px;
    background-position: -41px -47px;
}

.sprite-tw-hover {
    width: 28px;
    height: 22px;
    background-position: -91px -5px;
}

.sprite-vk {
    width: 32px;
    height: 18px;
    background-position: -91px -37px;
}

.sprite-vk-hover {
    width: 32px;
    height: 18px;
    background-position: -79px -65px;
}