div.container__generator
	h1.generator__header(data-translate-key="generator__header") Генератор водяных знаков
	div.generator__output
		div.generator-result
			canvas(id="my_canvas" width="535" height="535" style="font-size: 100px")
			div.loader
				span.loader_span
				span.loader_span
				span.loader_span
				span.loader_span
			div.output__image-result
				img.img-display(src='' alt='')
				div.output__watermark-result
					img.watermark-display(src='' alt='')

