div.container__generator
	h1.generator__header Генератор водяных знаков
	div.generator__output
		div.generator-result
			div.output__image-result
				img.img-display(src='' alt='')
				div.output__watermark-result
					img.watermark-display(src='' alt='')

