head
	meta(charset = "utf-8")
	meta(http-equiv = "X-UA-Compatible" content = "IE=edge")
	meta(name = "viewport", content = "width = device-width, initial-scale = 1")
	meta(property="og:title", content="Удобный вотермарк-генератор")
	meta(property="og:description", content="На нашем сайте Вы сможете быстро и удобно наложить водяной знак на Ваше изображение")
	meta(property="og:image", content="img/vk-share.jpg")
	title Watermark-generator
	link(rel = "stylesheet" href = "css/main.css")
		
	link(rel = "shortcut icon" href="img/favicon.ico" type="image/x-icon")


