form.manipulation__watermark-upload
	div.watermark-upload__wrap
		label.manipulation__label.watermark-upload__label(data-translate-key="watermark-upload__label") Водяной знак
		div.watermark-upload__inputs
			span.watermark-upload__btn
			input#watermark-upload.watermark-upload__upload.watermark-input(type='file', name='watermark')
			input.watermark-upload__upload-fake(type='text', placeholder='Image.png')