form.manipulation__image-upload
	div.image-upload__wrap
		label.manipulation__label.image-upload__label Исходное изображение
		div.image-upload__inputs
			span.image-upload__btn
			input#file-upload.image-upload__upload(type='file', name='file-image')
			input.image-upload__upload-fake(type='text', placeholder='Image.jpg')