form.manipulation__watermark-upload
	.watermark-upload__wrap
		label.watermark-upload__label Водяной знак
		.watermark-upload__inputs
			span.watermark-upload__btn
			input#file-upload.watermark-upload__upload(type='file', name='file-image')
			input.watermark-upload__upload-fake(type='text', placeholder='Image.png')