form.manipulation__list
	div.manipulation__item.manipulation__item_image-position
	div.manipulation__item.manipulation__item_image-opacity
	div.manipulation__item.manipulation__item_buttons
		button.manipulation__btn-reset(type='reset') Сброс
		button.manipulation__btn-submit(type='submit') Скачать