form.manipulation__list
	div.manipulation__item.manipulation__item_image-position
		label.manipulation__label.position__label Положение
	div.manipulation__item.manipulation__item_image-opacity
		label.manipulation__label.position__label Прозрачность
	div.manipulation__item.manipulation__item_buttons
		button.manipulation__btn-reset(type='reset') Сброс
		button.manipulation__btn-submit(type='submit') Скачать