div.social__list
	ul
		li.social__item
			a.social__btn--fb(href='#')
		li.social__item
			a.social__btn--tw(href='#')
		li.social__item
			a.social__btn--vk(href='#')
	button.social__btn-open.social__btn-show