.image-upload__inputs, .watermark-upload__inputs{
	width: 220px;
    display: block;
    position: relative;
    overflow: hidden;
    font-size: 12px;
    height: 30px;
    border: 1px solid #d6d5d3;
    border-radius: 5px;
    cursor: pointer;
}
.image-upload__btn, .watermark-upload__btn{
	float: right;
    width: 40px;
    height: 30px;
    background: #f97e76;
    &:after{
        content: "";
        background: url("../img/icons.png");
        width: 21px;
        height: 16px;
        background-position: -51px -24px;
        margin-top: 5px;
        margin-left: 10px;
        position: absolute;
    }
}
.image-upload__upload, .watermark-upload__upload{
	position: absolute;
    top: 0;
    z-index: 10;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
    width: 220px;
    height: 30px;
}
.image-upload__upload-fake, .watermark-upload__upload-fake{
	position: absolute;
    top: 0;
    width: 180px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    cursor: pointer;
    height: 30px;
    padding-left: 5px;
}