#slider{
    height: 3px;
    border-radius: 3px;
    width: 220px;
    display: block;
    position: relative;
    margin-bottom:30px;
}
.ui-slider-handle{
    display: block;
    position: absolute;
    top: -10px;
    outline:none;
    background-image: url("../img/icons.png");
    background-repeat:no-repeat;
    background-position: -5px -49px;
    width:24px;
    height:24px;
    margin-left: -13px;
    &:hover{
        background-position: -39px -49px;
    }
}
.ui-slider-range{
    background: #9eb2c0;
    height: 3px;
    border-radius: 3px;
}
.ui-widget-content{
    background: #dbe1e8;
}
.manipulation__item_image-opacity_header{
    margin-bottom:20px;
}